{% extends "header.html" %}


{% block body %}

<body>
    <div class = "container">


	</div>
<div class="container">
    <div class="row justify-content-center">
         <div class="col-lg-4 jumbotron">
             <h4>Settings</h4>
             <br>
             {% from "_formhelpers.html" import render_field %}
             <form method="post" action="/edit-profile">
                 <div class="form-group">
                   <label for="exampleInputUsername1">New Username</label>
                   <input type="text" class="form-control" id="exampleInputUsername1" aria-describedby="usernameHelp" placeholder="New username"
                   name="username" value="{{request.form.username}}">
                 </div>

                 <input type="submit" class="btn btn-primary" value="Save">
             </form>

             {% if error %}
               <p class="error"><strong>Error:</strong>{{error}}</p>
             {% endif %}
         </div>
    </div>
</div>
</body>
{% endblock %}
