<!DOCTYPE html>
<html>
<head>
  <title>MochaLatte</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}">
</head>
<body>

  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">MochaLatte</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
        </ul>
        <ul class="navbar-nav right">
          <li class="nav-item">
            <a class="nav-link" href="/profile-page">Profile</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/login-page">Login</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/register-page">Sign Up</a>
          </li>
        </ul>
      </div>

    </div>
  </nav>


  {% block body %} {% endblock %}


<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>


</body>
</html>
