<!DOCTYPE html>
<html>
<head>
  <title>MochaLatte</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}">
  
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">MochaLatte</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>          
        </ul>
        <ul class="navbar-nav right">
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li>
            <a class="nav-link" href="#">Sign Up</a>
          </li>   
        </ul>
        
      </div>
      
    </div>
    
  </nav>
<!--
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">

      <div class="navbar-header">
         BELOW IS THE BUTTON THAT THE NAV BAR SHRINKS INTO 
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="#" class="navbar-brand"><i class="fas fa-coffee"></i> MochaLatte</a> 
      </div>
      
      <div class="collapse navbar-collapse" id="bs-nav-demo">
        <ul class="nav navbar-nav">
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Sign Up</a></li>
          <li><a href="#">Login</a></li>
        </ul>
      </div> 
    </div>
  </nav>-->


  <div class="container">
    <div class="jumbotron form-group row">
      <div class="col-sm-6">
        <input class="form-control" type="text" placeholder="Enter a location!" aria-label="Search">     
      </div>
      <div class="col-sm-4">
        <div class='input-group date' id='datetimepicker1'>
              <input type='text' class="form-control" placeholder="Date"/>
              <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
              </span>
          </div>
      </div>
      <div class="col-sm-2">
        <button type="submit" class="btn btn-primary mb-2">Search</button>
      </div>
    </div>
  </div>




<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>


</body>
</html>