{% extends "header.html" %}


{% macro render_search(field) %}
    {{field(**kwargs) | safe}}
    {% if field.errors %}
        <ul class=errors>
        {% for error in field.errors %}
            <li>{{error}}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}


{% block body %}

<div class="container">

    <form method="post" action="">
        <div class="jumbotron form-group row">
            <div class="col-sm-4">
                {{render_search(form.searchLoc)}}

            </div>

            <div class="col-sm-6">
                {{render_search(form.capacity)}}
            </div>


            <div class="col-sm-2">
                <input type="submit" name="search" class="btn btn-primary" value="Search">
            </div>
        </div>
    </form>
</div>

<div class="container">
    <form method="post" action="">
        <div class="btn-group btn-group-toggle">
            {% if order == "priceRec" %}
                <button name="order" value="priceRec" class="btn btn-outline-secondary active"> Recommendation</button>
            {% else %}
                <button name="order" value="priceRec" class="btn btn-outline-secondary"> Recommendation</button>
            {% endif %}

            {% if order == "priceLH" %}
                <button name="order" value="priceLH" class="btn btn-outline-secondary active"> Price Low to High</button>
            {% else %}
                <button name="order" value="priceLH" class="btn btn-outline-secondary"> Price Low to High</button>
            {% endif %}

            {% if order == "priceHL" %}
                <button name="order" value="priceHL" class="btn btn-outline-secondary active"> Price High to Low</button>
            {% else %}
                <button name="order" value="priceHL" class="btn btn-outline-secondary"> Price High to Low</button>
            {% endif %}
        </div>
    </form>


    <div class="row">
        <div class="col-lg-6">
            <h2>AirBnBs:</h2>
                {% for i in range(AIRNUM) %}
                    <div class="jumbotron row" style="margin:20px; padding: 20px;">
                        <div class="col-sm-4">
                            <img src="{{AIRBNB[i][5]}}" class="rounded" style="height:150px; width:150px;">
                        </div>
                        <div class="col-sm-6" style="margin-left:20px;">
                            <h5>{{AIRBNB[i][1]}}</h5>
                            <h8>Location: {{AIRBNB[i][3]}}, {{AIRBNB[i][4]}}</h8>
                            <p>${{AIRBNB[i][9]}} per night</p>
                            <div class="btn-group">
                                <a href="{{AIRBNB[i][6]}}" target="_blank" class="btn btn-primary" role="button">More Info</a>
                                <input type="submit" name="Fav" value="Favorite" class="btn btn-danger">
                            </div>
                        </div>
                    </div>
                {% endfor %}
        </div>

        <div class="col-lg-6">
            <h2>Hotels:</h2>
                {% for i in range(HOTELNUM) %}
                    <div class="jumbotron row" style="margin:20px; padding: 20px;">
                        <div class="col-sm-4">
                            <img src="{{HOTEL[i][4]}}" class="rounded" style="height:150px; width:150px;">
                        </div>
                        <div class="col-sm-6" style="margin-left:20px;">
                            <h5>{{HOTEL[i][1]}}</h5>
                            <h8>Location: {{HOTEL[i][2]}}, {{HOTEL[i][3]}}</h8>
                            <p>${{HOTEL[i][7]}} per night</p>
                                <div class="btn-group">
                                    <a href="{{HOTEL[i][5]}}" target="_blank" class="btn btn-primary" role="button">More Info</a>
                                    <input type="submit" name="Fav" value="Favorite" class="btn btn-danger">
                                </div>
                        </div>
                    </div>
                {% endfor %}
        </div>

    </div>

  </div>

{% endblock %}
