{% extends "header.html" %}

{% block body %}

<div class="container" style="margin-top: 70px;">
    <div class="card">
        <div class="card-header">Search Result</div>
        <div class="card-body">
            {% if cap == 0 %}
                <p>Results displayed for Airbnbs & Hotels in <b>{{searchLoc}}</b></p>
            {% else %}
                <p>Results displayed for Airbnbs & Hotels in <b>{{searchLoc}}</b> with <b>{{cap}}</b> guests</p>
            {% endif %}  
    </div>
</div>

</div>

<div class="container" style="margin-top: -60px;">
    {% include "searchHeader.html" %}
</div>


<div class="container" style="margin-top: -200px; margin-left: 120px; float:right;">
        {% if session.get('logged_in') and session['logged_in'] %}
            <div class="card ml-auto" style="width: 15rem;">
                <div id="travBuddy">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-title">Travel Buddy Finder</h6>
                            <p class="card-text">You can find and get contact with people who are interested in the same places as you.</p>
                            <h5 class="mb-0">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#buddyModal"> More</button>
                            </h5>
                        </div>
                        </div>
                        
                        <!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="buddyModal" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Travel Buddy info</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body row">
            {% for i in range(0,airbnb_trav_num,2) %}
            <div class="col-sm-6">
            <div class="jumbotron row" style="margin:5px; padding: 5px;">
                <div class="col-sm-4">
                    <img src="{{url_for('static', filename=airbnb_trav[i][2])}}" class="rounded" style="height:90px; width:90px; margin-top:5px;">
                </div>
                <div class="col-sm-7" style="margin-left:20px;">
                    <div class="row"><p><b>Name: </b>{{airbnb_trav[i][0]}}</p></div>
                    <div class="row"><p><b>Contact: </b>{{airbnb_trav[i][1]}}</p></div>
                </div>
            </div>
            </div>
            {% if airbnb_trav_num > i+1 %}
            <div class="col-sm-6 ml-auto">
            <div class="jumbotron row" style="margin:5px; padding: 5px;">
                <div class="col-sm-4">
                    <img src="{{url_for('static', filename=airbnb_trav[i+1][2])}}" class="rounded" style="height:90px; width:90px; margin-top:5px;">
                </div>
                <div class="col-sm-7" style="margin-left:20px;">
                    <div class="row"><p><b>Name: </b>{{airbnb_trav[i+1][0]}}</p></div>
                    <div class="row"><p><b>Contact: </b>{{airbnb_trav[i+1][1]}}</p></div>
                </div>
            </div>
            </div>
            {%endif%}
            {% endfor %}
                                
                               
      </div>
    </div>
  </div>
</div>
    
                </div>
            </div>
        {% endif %}
</div>

<div class="container" style="margin-top: 40px;">  
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <h2>AirBnBs:</h2>
                {% if AIRNUM == 0 %}
                    <p5>No results find for Airbnb</p5>
                {% else %}
                
                <p5>{{AIRNUM}} airbnbs found</p5>
                    {% set r = AIRNUM - (per_page * (page-1)) %}
                    {% if r >= per_page%}
                        {% set r = per_page %}
                    {% endif %}
                    {% for i in range(r) %}
                        <div class="jumbotron row" style="margin:20px; padding: 20px;">
                            {% set idx = i + (page - 1) * per_page %}
                            <div class="col-sm-4">
                                <img src="{{AIRBNB[idx][5]}}" class="rounded" style="height:150px; width:150px;">
                            </div>
                            <div class="col-sm-6" style="margin-left:40px;">
                                <h5>{{AIRBNB[idx][1]}}</h5>
                                <h8>Location: {{AIRBNB[idx][3]}}, {{AIRBNB[idx][4]}}</h8>
                                {% if cap == 0%}
                                        <p>${{AIRBNB[idx][9]}} per night</p>
                                    {% else %}
                                        <p>${{AIRBNB[idx][9]}} per night for {{AIRBNB[idx][10]}}</p>
                                    {% endif %}
                                {% if session.get("logged_in") %}
                            <div class="btn-group">
                               <!-- Button trigger modal-->
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#airbnbModal{{AIRBNB[idx][0]}}">
                                    Details
                                </button>
                                {% if AIRBNB[idx][0] in fav_airbnbs %}
                                    <input type="submit" name="Fav" value="Unfavorite" class="btn btn-danger" onclick="favoriteClicked({{uid}}, {{AIRBNB[idx][0]}}, 'airbnb', '#airbnb{{AIRBNB[idx][0]}}')" id="airbnb{{AIRBNB[idx][0]}}">
                                {% else %}
                                    <input type="submit" name="Fav" value="Favorite" class="btn btn-danger" onclick="favoriteClicked({{uid}}, {{AIRBNB[idx][0]}}, 'airbnb', '#airbnb{{AIRBNB[idx][0]}}')" id="airbnb{{AIRBNB[idx][0]}}">
                                {% endif %}
                            </div>
                         
                            
                            {% else %}
                            <div class="btn-group">
                                <!-- Button trigger modal-->
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#airbnbModal{{AIRBNB[idx][0]}}">
                                    Details
                                </button>
                            </div>
                            {%endif%}
                                
                                <!-- Modal -->
                                    <div class="modal fade" id="airbnbModal{{AIRBNB[idx][0]}}" role="dialog">
                                        <div class="modal-dialog modal-lg" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Hotel Detailed Info</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="container-fluid">
                                                        <h4 class="modal-title text-center">{{AIRBNB[idx][1]}}</h4>
                                                        <h8 class="text-center">Location: {{AIRBNB[idx][2]}}</h8>
                                               
                                                        <div class="jumbotron row" style="margin-top: 0px;">
                                                            <div class="col-lg-8">
                                                                <img src="{{AIRBNB[idx][5]}}" class="rounded" style="height:280px; width:400px;">
                                                            </div>
                                                            <div class="col-lg-4">
                                                                <p><b>Summary: </b>{{AIRBNB[idx][11]}}</p>
                                                                <div class="col-md-10 ml-auto">
                                                                    <a href="{{AIRBNB[idx][6]}}" target="_blank" class="btn btn-primary">VIEW SITE</a>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row" style="margin-top: -20px;">
                                                            <table class="table">
                                                                <thead class="thead-light">
                                                                    <tr>
                                                                        <th scope="col">Room Type</th>
                                                                        <th scope="col">Property Type</th>
                                                                        <th scope="col">Sleeps</th>
                                                                        <th scope="col">Price</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <th scope="row">{{AIRBNB[idx][8]}}</th>
                                                                        <td>{{AIRBNB[idx][7]}}</td>
                                                                        <td>{{AIRBNB[idx][10]}}</td>
                                                                        <td>${{AIRBNB[idx][9]}}</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                        
                                                        <div class="row">
                                                            <h6><b>Amenities: </b></h6>
                                                            <p>{{AIRBNB[idx][12]}}</p>
                                                        </div>
        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    {% endfor %}
                    {% endif %}
               
        </div>
        
        <div class="col-lg-6">
            <h2>Hotels:</h2>
                {% if HOTELNUM == 0 %}
                    <p5>No results find for hotels</p5>
                {% else %}
                    <p5>{{HOTELNUM}} hotels found</p5>
                    {% set r = HOTELNUM - (per_page * (page-1)) %}
                    {% if r >= per_page%}
                    {% set r = per_page %}
                    {% endif %}
                    {% for i in range(r) %}
                        <div class="jumbotron row" style="margin:20px; padding:20px;">
                            {% set idx = i + (page - 1) * per_page %}
                            <div class="col-sm-4">
                                <img src="{{HOTEL[idx][4]}}" class="rounded" style="height:150px; width:150px;">
                            </div>
                            <div class="col-sm-6" style="margin-left:40px;">
                                <h5>{{HOTEL[idx][1]}}</h5>
                                <h8>Location: {{HOTEL[idx][2]}}, {{HOTEL[idx][3]}}</h8>
                                {% if HOTEL[idx][10] > (2 * HOTEL[idx][7]) %}
                                    <p>${{HOTEL[idx][7]}} per night for {{HOTEL[idx][8]}} for {{((cap + 1)//2)}} room</p>
                                {% elif (0.5 * HOTEL[idx][7]) > HOTEL[idx][10] %}
                                    <p>${{HOTEL[idx][10]}} per night for {{HOTEL[idx][11]}} for {{((cap + 3)//4)}} room</p>
                                {% else %}
                                    {% if 2 >=  remain and remain > 0 %}
                                        {% if HOTEL[idx][7] >= HOTEL[idx][10] %}
                                            {% set num4 = num4+1 %}
                                        {%else%}
                                            {% set num2 = num2 + 1 %}
                                        {%endif%}
                                    {%elif remain > 2%}
                                        {% if (2*HOTEL[idx][7]) >= HOTEL[idx][10]%}
                                            {% set num4 = num4 +1%}
                                        {%else%}
                                            {%set num2 = num2 + 1%}
                                        {%endif%}
                                    {% endif %}
                                    {% if cap == 0%}
                                        <p>${{num2*HOTEL[idx][7] + num4*HOTEL[idx][10]}} per night</p>
                                    {% else %}
                                        <p>Starting at ${{num2*HOTEL[idx][7] + num4*HOTEL[idx][10]}} per night for {{cap}}</p>
                                    {% endif %}
                                    
                                {% endif %}
                                
                                {% if session.get("logged_in") %}
                                <div class="btn-group">
                                    <!-- Button trigger modal-->
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#hotelModal{{HOTEL[idx][0]}}">
                                        Details
                                    </button>
                                {% if HOTEL[idx][0] in fav_hotels %}
                                    <input type="submit" name="Fav" value="Unfavorite" class="btn btn-danger" onclick="favoriteClicked({{uid}}, {{HOTEL[idx][0]}}, 'hotel', '#hotel{{HOTEL[idx][0]}}')" id="hotel{{HOTEL[idx][0]}}">
                                {% else %}
                                    <input type="submit" name="Fav" value="Favorite" class="btn btn-danger" onclick="favoriteClicked({{uid}}, {{HOTEL[idx][0]}}, 'hotel', '#hotel{{HOTEL[idx][0]}}')" id="hotel{{HOTEL[idx][0]}}">
                                {% endif %}
                                </div>
                            {% else %}
                                <div class="btn-group">
                                    <!-- Button trigger modal-->
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#hotelModal{{HOTEL[idx][0]}}">
                                        Details
                                    </button>
                                </div>
                            
                            {% endif %}
                                
                                <!-- Modal -->
                                    <div class="modal fade" id="hotelModal{{HOTEL[idx][0]}}" role="dialog">
                                        <div class="modal-dialog modal-lg" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Hotel Detailed Info</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="container-fluid">
                                                        <h4 class="modal-title text-center">{{HOTEL[idx][1]}}</h4>
                                                        <h8 class="text-center">Location: {{HOTEL[idx][2]}}, {{HOTEL[idx][3]}}</h8>
                                               
                                                        <div class="jumbotron row" style="margin-top: 0px;">
                                                            <div class="col-lg-8">
                                                                <img src="{{HOTEL[idx][4]}}" class="rounded" style="height:280px; width:400px;">
                                                            </div>
                                                            <div class="col-lg-4">
                                                                <p><b>Summary: </b>{{HOTEL[idx][12]}}</p>
                                                                <div class="col-md-10 ml-auto">
                                                                    <a href="{{HOTEL[idx][5]}}" target="_blank" class="btn btn-primary">VIEW SITE</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            {% if num2 != 0 and num4 != 0%}
                                                                <p><b>Lowest price room combination recommendation:</b> {{num2}} {{HOTEL[idx][6]}} room and {{num4}} {{HOTEL[idx][9]}} room</p>
                                                            {% elif num2 == 0 %}
                                                                <p><b>Lowest price room combination recommendation:</b> {{num4}} {{HOTEL[idx][9]}} room</p>
                                                            {% else %}
                                                                <p><b>Lowest price room combination recommendation:</b> {{num2}} {{HOTEL[idx][6]}} room</p>
                                                            {% endif %}
                                                        </div>
                                                        <div class="row">
                                                            <p><b>Lowest price:</b> ${{num2*HOTEL[idx][7] + num4*HOTEL[idx][10]}}</p>
                                                        </div>
                                                        <div class="row">
                                                            <table class="table">
                                                                <thead class="thead-light">
                                                                    <tr>
                                                                        <th scope="col">Room Type</th>
                                                                        <th scope="col">Sleeps</th>
                                                                        <th scope="col">Price</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <th scope="row">{{HOTEL[idx][6]}}</th>
                                                                        <td>{{HOTEL[idx][8]}}</td>
                                                                        <td>${{HOTEL[idx][7]}}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th scope="row">{{HOTEL[idx][9]}}</th>
                                                                        <td>{{HOTEL[idx][11]}}</td>
                                                                        <td>${{HOTEL[idx][10]}}</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    {% endfor %}
                    {% endif %}
                    
                
        </div>
    </div>
    <div class="col-md-8 ml-auto">
      {{ pagination.links }}
     </div>
    
</div>

<script>
    (function(){
        
        
    })();
    
  
    function favoriteClicked(uid, itemid, h_type, html_id){
        
        $.ajax({
            type: "POST",
            url: '/favorite',
            data: {"uid": uid, "itemid":itemid, "h_type":h_type},
            contentType: 'application/json;charset=UTF-8',
            success: function(result) { 
                console.log(result);
                var val_attr = $(html_id).attr("value");
                if (val_attr == "Favorite"){
                    $(html_id).val("Unfavorite");
                }
                else{
                    $(html_id).val("Favorite");
                }
            },
            error: function(jqXHR) {
                alert("error: " + jqXHR.status);
            }
        });
    }
</script>

{% endblock %}
